*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    overflow: hidden;
 }
 
 .card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 70vh;
    width: 300px;
    background: linear-gradient(to right, #c94b4b, #4b134f);
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
 }
 
 .card-header{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 500px 0;
 }
 
 .user-profile-image{
    background-image: url('./profile_img.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 48px;
 }
 
 .user-name{
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 500;
    color: white;
    font-size: x-large;
 }
 
 .user-bio{
    color: white;
    font-weight: 300 ;
    font-size: medium;
 }
 .about-section
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    margin:20% 0 20% 0 ;
 }
 
 .about-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
 
 }
 .item-value{
    font-weight: 700;
 }
 .card-footer{
    width: 100%;
 }
 .follow-btn{
    background: white;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 10px 0;
    font-weight: 700;
    font-size: medium;
    color: #006af5;
 }
 
 .follow-btn:hover{
 color: red;
 }
 footer,footer a{
    color: rgb(90, 90, 90);
    line-height: 5;
    
 }
 footer a:hover{
    color: red;
 }