/* Project Created By Aryan Garg -> https://github.com/code08-ind */

body {
    background-color: rgb(8, 250, 230);
}
div.container {
    width:800px;
    text-align: center;
    margin:0 auto;
    margin-top: 4rem;
}
div.heading h1#heading1 {
    font-size: 4rem;
    letter-spacing: 2px;
    word-spacing: 1.2rem;
    font-weight: 500;
    font-family: 'Monoton', sans-serif;
    color:rgb(255, 136, 0);
    border:4px solid rgb(255, 136, 0);
    width:740px;
    margin:0 auto;
    background-color:rgb(166, 255, 0);
    animation: aryan1 3s ease-out 0.1s 3 alternate forwards;
}
div.clock p span {
    font-size:4rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width:800px;
    height: 400px;
    align-items: center;
    justify-content: center;
}
div.clock p {
    font-size:4rem;
    margin-bottom: 2rem;
}
div.button button.btn {
    display: inline;
    flex-direction: row;
    padding:1.2rem 4.2rem;
    margin:1rem 1.1rem;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: 3px solid rgb(8, 250, 230);
    border-radius: 10px;
    color:rgb(8, 250, 230);
}
div.button button.btn:hover{
    border: 3px solid white;
    border-radius: 10px;
    color:white;
    background-color:rgb(8, 250, 230);
    cursor: pointer;
    transition: all 0.6s ease;
    border:none;
    border: 3px solid white;
}
/* div.button button.btn:active{
    border: 3px solid white;
    border-radius: 10px;
    color:white;
    background-color:rgb(8, 250, 230);
    cursor: pointer;
    transition: all 0.6s ease;
    border:none;
} */
div.button button.btn:focus{
    border: 3px solid white;
    border-radius: 10px;
    color:white;
    background-color:rgb(8, 250, 230);
    cursor: pointer;
    transition: all 0.6s ease;
    border:none;
    border: 4px solid white;
    
}
div.copyright p#copy {
    font-size: 1.5rem;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: rgb(125, 3, 141);
    animation: aryan 3s ease-in 0.1s 3 alternate forwards;
}
@keyframes aryan{
    from{
        left:-20%;
    }
    to{
        left:0%;
    }
}
@keyframes aryan1{
    from{
        left:20%;
    }
    to{
        top:0%;
    }
}