input{
	width: 150px;
	height : 100px;
	font-size: 75px;
	border-radius: 10px;
	margin: 10px;
	background-color:  rgb(13,61,29);
    background: linear-gradient(45deg, rgba(13,61,29,1) 16%, rgba(32,108,111,1) 40%, rgba(76,31,103,1) 64%, rgba(34,29,87,1) 88%);
	color: #fff;
	border-style: round;
	text-align: center;
}
#myform {
	margin-left : auto;
    margin-right: auto;
   display: block;
   text-align: center;
   align-content : center;
}
p{
	background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(242,109,61,1) 50%, rgba(252,176,69,1) 100%);
	padding: 0.5em 0em;
	width: auto;
	margin : 2% auto 0%;
	text-transform: uppercase;
    text-align: center;
	font-size: 70px;
	font-family: "Kaisei HarunoUmi","Times New Roman", Times, serif;
	color: white;
}