/* Coded by cyberGeni */

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 40, 70);
    width: 100%;
    height: 100vh;
    z-index: 1000;
}
.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 16, 42);
    width: 300px;
    height: 450px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: -100;
    transform: rotate(90deg);
}
.outer-box::before {
    content: '';
    position: relative;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    width: 150px;
    height: 580px;
    overflow: hidden;
    transform: rotate(360deg);
    animation: animate 4s linear infinite;
}
.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    background-color: rgb(27, 40, 70);
    width: 280px;
    height: 430px;
    border: none;
    border-radius: 4px;
    z-index: 100;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Archivo', 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: white;
}
.inner-box h1 {
    transform: rotate(270deg);
}
h3 {
    transform: rotate(270deg);
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
