body{
    text-align: center;
}

.dropbtn {
    background-color:red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:green;
    color:#fff;
  }
  
  .miraj_dropdown {
    position: relative;
    display: inline-block;
  }
  
  .drop-content {
    display: none;
    position: absolute;
    background-color:skyblue;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .miraj_dropdown a:hover {background-color:tomato;}
  
  .show {display: block;}