/* By Jonak Adipta Kalita */

body {
    background-color: orangered;
    color: white;
    margin: 0;
    font-family: rubik;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#dex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
	text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
	cursor: pointer;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

