
#title{
	font-family: serif;
	font-weight: bold;
	
	
	
	
	
	
}
	
#img-div{
    background-color: #f5f5f0;
    border:5px solid #ebebe0;
    margin-bottom: 10px;
}
img {
    box-shadow: 5px 10px 8px #a3a375;
    padding: 1%;
    width: 100%;
    height: auto;
    margin: auto;
}
#img-caption{
    margin:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
    color: #6b6b47;
}